# Build
build/
dist/
*.spec
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
*.log

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.temp
temp/
tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Assets generated
Unselected files/
